/* hero */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 31px;
  &__img1 {
    width: 100%;
  }
  &__img2 {
    width: 100%;
    display: none;
  }
  &__img3 {
    width: 100%;
    display: none;
  }
  &__img4 {
    width: 100%;
    display: none;
  }
  &__img5 {
    width: 100%;
    display: none;
  }
  &__slogan {
    color: $color-adalabers;
    background: $background-color;
    position: absolute;
    bottom: -40px;
    padding: 15px;
    display: inline;
    text-align: center;
    transform: translate(0, -10px);
    font-family: $font-paragraph;
    font-size: 1.125rem;
  }
  @media all and (min-width: 550px) {
    margin-bottom: 0px;
    &__img1 {
      width: 100%;
      display: none;
    }
    &__img2 {
      width: 100%;
      display: block;
    }
    &__img3 {
      width: 100%;
      display: none;
    }
    &__img4 {
      width: 100%;
      display: none;
    }
    &__img5 {
      width: 100%;
      display: none;
    }
  }
  @media all and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__img1 {
      width: 100%;
      display: none;
    }
    &__img2 {
      width: 100%;
      display: none;
    }
    &__img3 {
      width: 100%;
      display: block;
    }
    &__img4 {
      width: 100%;
      display: none;
    }
    &__img5 {
      width: 100%;
      display: none;
    }

    &__slogan {
      display: inline;
      text-align: center;
      opacity: 0.8;
      padding: 15px 30px 15px 30px;
      bottom: -10px;
      left: 46px;
    }
  }
  @media all and (min-width: 990px) {
    &__img1 {
      width: 100%;
      display: none;
    }
    &__img2 {
      width: 100%;
      display: none;
    }
    &__img3 {
      width: 100%;
      display: none;
    }
    &__img4 {
      width: 100%;
      display: block;
    }
    &__img5 {
      width: 100%;
      display: none;
    }
  }
  @media all and (min-width: 1200px) {
    &__img1 {
      width: 100%;
      display: none;
    }
    &__img2 {
      width: 100%;
      display: none;
    }
    &__img3 {
      width: 100%;
      display: none;
    }
    &__img4 {
      width: 100%;
      display: none;
    }
    &__img5 {
      width: 100%;
      display: block;
    }

    &__slogan {
      left: 138px;
    }
  }
}
