<section class="section3">
  <h2 id="about-us" class="about-us">QUIÉNES SOMOS</h2>
  <include src="./adalabers.html"></include>
  <include
    src="./adalabers.html"
    imgSrc=".\assets\images\angela.jpeg"
    imgAlt="foto angela chicano"
    name="Ángela Chicano"
    description="Programadora junior con muchas ganas de seguir aprendiendo. Después de
    pasar por distintas empresas de marketing, descubrí este apasionante
    mundo. Con un poco de vértigo me decidí a dar el salto y aquí estoy,
    ¡con muchas ganas de que todo el mundo vea el ritmo que tengo en Code!"
  ></include>
  <include
    src="./adalabers.html"
    imgSrc=".\assets\images\belen.jpg"
    imgAlt="foto belen matilla"
    name="Belén Matilla"
    description="Programadora front-end junior, siempre queriendo aprender cosas nuevas.
  Provengo del mundo de la arquitectura por lo que estoy acostumbrada a
  trabajar duro y en equipo. Descubrí la programación de manera fortuita,
  me apasionó y estoy dispuesta a darlo todo a ritmo de rock&roll!"
  ></include>
  <include
    src="./adalabers.html"
    imgSrc=".\assets\images\lorena.jpeg"
    imgAlt="foto lorena mateo"
    name="Lorena Mateo"
    description="Programadora front-end. Polivalente, de carácter proactivo y persistente
     con mis objetivos. Tengo una amplia experiencia en el sector
     internacional y en trabajar en equipo. Siempre preparadas para
     baiilaarr."
  ></include>
  <article class="article">
    <img
      src=".\assets\images\almudena.jpg"
      alt="foto de almudena blanco"
      class="personal-photo"
    />
    <div class="personal">
      <h4 class="name almudena">Almudena Blanco</h4>
      <p class="description">
        Muy motivada en esta nueva partitura que empiezo a escribir dentro de la
        programación front-end. Proactiva, organizada y detallista en las
        tareas. Acostumbrada a trabajar en equipo me gusta fomentar el
        compañerismo.
      </p>
      <ul class="social">
        <li>
          <a href=""><i class="fab fab2 fa-twitter"></i></a>
        </li>
        <li class="point">
          <i class="fab fab2 fa-linkedin-in"></i>
        </li>
        <li class="point">
          <a href="https://github.com/almudenabr" target="blank"
            ><i class="fab fab2 fa-github-alt"></i
          ></a>
        </li>
        <li class="point">
          <i class="fas fab2 fa-envelope"></i>
        </li>
      </ul>
    </div>
  <article class="article article2">
    <img
      src=".\assets\images\irene.jpg"
      alt="foto irene rueda"
      class="personal-photo personal-photo2"
    />
    <div class="personal personal2">
      <h4 class="name irene">Irene Rueda</h4>
      <p class="description description2">
        Programadora front-end con herramientas y capacidad para trabajar en
        equipo y en remoto. De personalidad empática, proactiva y comprometida.
        Desarrollo al compás del cliente, siempre buscando los resultados más
        armónicos para sus usuarios.
      </p>
      <ul class="social">
        <li><i class="fab fab2 fa-twitter"></i></li>
        <li class="point">
          <a
            href="https://www.linkedin.com/in/irene-rueda-vega-640403102/"
            target="blank"
            ><i class="fab fab2 fa-linkedin-in"></i
          ></a>
        </li>
        <li class="point">
          <a href="https://github.com/IreneRuedaVega" target="blank"
            ><i class="fab fab2 fa-github-alt"></i
          ></a>
        </li>
        <li class="point">
          <i class="fas fab2 fa-envelope"></i>
        </li>
      </ul>
    </div>
  </article>
</section>
