<article class="article">
  <img src="@@imgSrc" alt="@@imgAlt" class="personal-photo" />
  <div class="personal">
    <h4 class="name">@@name</h4>
    <p class="description">@@description</p>
    <ul class="social">
      <li>
        <a href="@@twitter" target="blank">
          <i class="fab fab2 fa-twitter"></i>
        </a>
      </li>
      <li class="point">
        <a href="@@linkedin" target="blank">
          <i class="fab fab2 fa-linkedin-in"></i>
        </a>
      </li>
      <li class="point">
        <a href="@@github" target="blank">
          <i class="fab fab2 fa-github-alt"></i>
        </a>
      </li>
      <li class="point">
        <a href="@@mail" target="blank">
          <i class="fas fab2 fa-envelope"></i>
        </a>
      </li>
    </ul>
  </div>
</article>
