<article class="article">
  <img
    src=".\assets\images\almudena.jpg"
    alt="foto de almudena blanco"
    class="personal-photo"
  />
  <div class="personal">
    <h4 class="name almudena">Almudena Blanco</h4>
    <p class="description">
      Muy motivada en esta nueva partitura que empiezo a escribir dentro de la
      programación front-end. Proactiva, organizada y detallista en las tareas.
      Acostumbrada a trabajar en equipo me gusta fomentar el compañerismo.
    </p>
    <ul class="social">
      <li>
        <a href=""><i class="fab fab2 fa-twitter"></i></a>
      </li>
      <li class="point">
        <i class="fab fab2 fa-linkedin-in"></i>
      </li>
      <li class="point">
        <a href="https://github.com/almudenabr" target="blank"
          ><i class="fab fab2 fa-github-alt"></i
        ></a>
      </li>
      <li class="point">
        <i class="fas fab2 fa-envelope"></i>
      </li>
    </ul>
  </div>
</article>
