<article class="article article2">
  <img src="@@imgSrc" alt="@@imgAlt" class="personal-photo" />
  <div class="personal personal2">
    <h4 class="name">@@name</h4>
    <p class="description description2">@@description</p>
    <ul class="social">
      <li>
        <a href=""><i class="fab fab2 fa-twitter"></i></a>
      </li>
      <li class="point">
        <i class="fab fab2 fa-linkedin-in"></i>
      </li>
      <li class="point">
        <a href="" target="blank"><i class="fab fab2 fa-github-alt"></i></a>
      </li>
      <li class="point">
        <i class="fas fab2 fa-envelope"></i>
      </li>
    </ul>
  </div>
</article>
