<footer class="footer">
  <small class="footer-small-logo footer-small">B.A.I.L.A. &copy 2020</small>
  <div class="footer-small-logo logo-adalab">
    <img
      src=".\assets\images\logo-adalab.png"
      alt="logo de Adalab"
      class="slogan-adalab"
    />
  </div>
  <nav>
    <ul class="footer-links">
      <li>
        <a class="link-footer" href="index.html#team">Equipo</a>
      </li>
      <li>
        <a class="link-footer" href="index.html#about-us">Quiénes somos</a>
      </li>
      <li><a class="link-footer" href="#">Contacto</a></li>
    </ul>
  </nav>
</footer>
