<footer class="footer">
  <small class="footer-elements footer-small">B.A.I.L.A. &copy 2018</small>
  <div class="icon-adalab">
    <img
      src=".\assets\images\logo-adalab.png"
      alt="log de Adalab"
      class="footer-elements slogan-adalab"
    />
  </div>
  <nav class="footer-elements footer-nav">
    <ul class="footer-links">
      <li>
        <a class="link-footer" href="index.html#team">EQUIPO</a>
      </li>
      <li>
        <a class="link-footer" href="index.html#about-us">QUIENES SOMOS</a>
      </li>
      <li><a class="link-footer" href="#">CONTACTO</a></li>
    </ul>
  </nav>
</footer>
