<section class="container">
  <h1 class="container__title">Contacto</h1>
  <div class="container__text">
    <p class="container__text--principal">
      Si necesitas ponerte en contacto con nosotras, no dudes en escribirnos un
      e-mail y te contestaremos lo antes posible.
    </p>
    <small class="container__text--small"
      >Todos los campos marcados con <span class="asterisk">*</span> son
      obligatorios.</small
    >
  </div>
  <form action="/signup" method="post" class="container__form">
    <label for="name">Nombre completo <span class="asterisk">*</span></label>
    <input id="name" type="text" name="name" placeholder="Nombre..." />
    <label for="mail">Email <span class="asterisk">*</span></label>
    <input
      id="mail"
      type="email"
      name="mail"
      value="nombre.apellidos@mail.com"
    />
    <label for="tel">Teléfono</label>
    <input id="tel" type="tel" name="tel" placeholder="Ej: 123456789" />
    <label for="message">Mensaje <span class="asterisk">*</span></label>
    <input
      id="message"
      type="text"
      name="message"
      placeholder="¿Qué necesitas?"
    />
    <input type="submit" value="Enviar" />
  </form>
</section>
