<section>
  <h1>Contacto</h1>
  <p>Si necesitas ponerte en contacto con nosotras, puedes escribirnos un e-mail y te contestaremos lo antes posible.</p>
  <small>Todos los campos marcados con </span>*</span> son obligatorios.</small>
  <form action="/signup" method="post">
    <label for="name">Nombre completo <span>*</span></label>
    <input id="name" type="text" name="name" placeholder="Nombre...">
    <label for="mail">Email <span>*</span></label>
    <input id="mail" type="email" name="mail" value="nombre.apellidos@mail.com">
    <label for="tel">Teléfono</label>
    <input id="tel" type="tel" name="tel" placeholder="Ej: 123456789">
    <label for="message">Mensaje <span>*</span></label>
    <input id="message" type="text" name="message" placeholder="¿Qué necesitas?">
  </form>
</section>
