<section class="container">
  <h1 class="container__title">Contacto</h1>
  <div class="container__text">
    <p class="container__text--principal">
      Si necesitas ponerte en contacto con nosotras, no dudes en escribirnos un
      e-mail y te contestaremos lo antes posible.
    </p>
    <small class="container__text--small"
      >Todos los campos marcados con <span class="asterisk">*</span> son
      obligatorios.</small
    >
  </div>
  <form
    action="https://formspree.io/xvovoqnv"
    method="post"
    class="container__form"
  >
    <label for="name" class="container__form--label"
      >Nombre completo <span class="asterisk">*</span></label
    >
    <input
      class="container__form--input"
      id="name"
      type="text"
      name="name"
      placeholder="Nombre..."
      required
    />
    <div class="contact">
      <div class="container__form--div1">
        <label for="mail" class="container__form--label"
          >Email <span class="asterisk">*</span></label
        >
        <input
          class="container__form--mail"
          id="mail"
          type="email"
          name="mail"
          placeholder="nombre.apellidos@mail.com"
          required
        />
      </div>
      <div class="container__form--div2">
        <label for="tel" class="container__form--label">Teléfono</label>
        <input
          class="container__form--input"
          id="tel"
          type="tel"
          name="tel"
          placeholder="Ej: 123456789"
        />
      </div>
    </div>
    <label for="message" class="container__form--label"
      >Mensaje <span class="asterisk">*</span></label
    >
    <textarea
      class="container__form--message"
      id="message"
      name="message"
      rows="4"
      placeholder="¿Qué necesitas?"
      required
    ></textarea>
    <div class="submit">
      <input class="container__form--submit" type="submit" value="Enviar" />
    </div>
  </form>
</section>
