<header class="header">
  <h1 class="header__title">B.A.I.L.A.</h1>
  <nav>
    <ul class="list">
      <li class="list__item">
        <a class="list__item--link list__item--link1" href="index.html#team"
          >EQUIPO</a
        >
      </li>
      <li class="list__item">
        <a class="list__item--link list__item--link2" href="index.html#about-us"
          >QUIENES SOMOS</a
        >
      </li>
      <li class="list__item">
        <a class="list__item--link list__item--link3" href="#">CONTACTO</a>
      </li>
    </ul>
  </nav>
</header>
