<section class="hero">
  <div>
    <img
      src="./assets/images/ritmoMovil.jpg"
      alt="hero movil"
      class="hero__img1"
    />
    <img
      src="./assets/images/ritmoIntermedio1.jpg"
      alt="hero movil"
      class="hero__img2"
    />
    <img
      src="./assets/images/ritmoTablet.jpg"
      alt="hero movil"
      class="hero__img3"
    />
    <img
      src="./assets/images/ritmoIntermedio2.jpg"
      alt="hero movil"
      class="hero__img4"
    />
    <img
      src="./assets/images/adalabDesktop.jpg"
      alt="hero movil"
      class="hero__img5"
    />
  </div>
  <h3 class="hero__slogan" id="team">Programamos a todo ritmo.</h3>
</section>
