<section>
  <section class="team">
    <h2 id="team" class="team__title">EQUIPO</h2>
    <div class="team__box">
      <p class="team__box--description">
        B.A.I.L.A. es un grupo de mujeres que ha decidido meterse en el
        increíble mundo de la programación. Somos como una gran orquesta, cada
        una viene de un campo diferente y tocamos un instrumento distinto. Esto
        nos hace contar con una amplia visión y experiencia en múltiples áreas
        de conocimiento.
      </p>
      <p class="team__box--description">
        Disponemos de una alta capacitación técnica y un elevado sentido de
        servicio al cliente con especial foco en el compromiso con sus
        profesionales, ofreciendo capacidades y recursos TI, además de diversas
        listas de Spotify a gusto del cliente para hacer que durante el proceso
        de desarrollo no acabemos lanzando los ordenadores por la ventana.
        <br />¡Llegamos tan lejos como quieras llegar!
      </p>
    </div>
    <div class="team__square"></div>
  </section>
  <div class="features">
    <section class="features__strength">
      <h3 class="features__strength--title">Fortalezas</h3>
      <p class="features__strength--text features__strength--text1">
        Poseemos talento, pasión y la curiosidad necesaria para trabajar en los
        más novedosos proyectos tecnológicos, con una actitud resolutiva para
        comprender exactamente los objetivos del cliente y convertirlos en
        realidades. Además, nos gusta trabajar en equipo, somos apasionadas y
        tenemos sentido del humor.
      </p>
    </section>
    <section class="features__weaknesses">
      <h3 class="features__weaknesses--title">Debilidades</h3>
      <p class="features__weaknesses--text features__weaknesses--text2">
        Tendemos a agobiarnos cuando no nos sale algo como queremos.
        <br />Somos nuevas en el sector y desconocemos la competencia, pero
        tenemos mucha ilusión y ganas de aprender.
      </p>
    </section>
  </div>
</section>
