<section class="section2">
  <section class="team-box">
    <h2 id="team" class="team">EQUIPO</h2>
    <div class="div-team">
      <p class="description-team">
        B.A.I.L.A. es un grupo de mujeres que ha decidido meterse en el
        increíble mundo de la programación. Somos como una gran orquesta, cada
        una viene de un campo diferente y tocamos un instrumento distinto. Esto
        nos hace contar con una amplia visión y experiencia en múltiples áreas
        de conocimiento.
      </p>
      <p class="description-team">
        Disponemos de una alta capacitación técnica y un elevado sentido de
        servicio al cliente con especial foco en el compromiso con sus
        profesionales, ofreciendo capacidades y recursos TI, además de diversas
        listas de Spotify a gusto del cliente para hacer que durante el proceso
        de desarrollo no acabemos lanzando los ordenadores por la ventana.
        <br />¡Llegamos tan lejos como quieras llegar!
      </p>
    </div>
    <div class="square"></div>
  </section>
  <div class="features">
    <section class="strength-box">
      <h3 class="strength">Fortalezas</h3>
      <p class="features-text features-text1">
        Poseemos talento, pasión y la curiosidad necesaria para trabajar en los
        más novedosos proyectos tecnológicos, con una actitud resolutiva para
        comprender exactamente los objetivos del cliente y convertirlos en
        realidades. Además, nos gusta trabajar en equipo, somos apasionadas y
        tenemos sentido del humor.
      </p>
    </section>
    <section class="weaknesses-box">
      <h3 class="weaknesses">Debilidades</h3>
      <p class="features-text features-text2">
        Tendemos a agobiarnos cuando no nos sale algo como queremos.
        <br />Somos nuevas en el sector y desconocemos la competencia, pero
        tenemos mucha ilusión y ganas de aprender.
      </p>
    </section>
  </div>
</section>
