/* section3*/

.about-us {
  font-family: $font-title;
  font-size: 24px;
  color: $dark-color;
  text-align: center;
  padding: 30px 0 30px 0;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
}

.personal-photo {
  width: 180px;
  height: 180px;
  box-sizing: content-box;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: $font-paragraph;
  font-size: 20px;
  color: $color-adalabers;
  margin-top: 15px;
  line-height: 45px;
}

.description {
  font-family: $font-paragraph;
  font-size: 16px;
  color: $description-text;
  padding: 0 18px 0 18px;
  text-align: center;
}

.social {
  list-style: none;
  display: flex;
  padding: 15px 0 45px 0;
}

.fab2 {
  box-sizing: content-box;
  padding: 0 7px 0 7px;
  color: $dark-color;
  height: 15px;
  width: 15px;
  text-align: center;
  transition: font-size 1s, text-shadow 1s;
  &:hover {
    font-size: 1.2rem;
    text-shadow: 2px 2px $light-color;
  }
}

.point:before {
  content: ".";
  color: $dark-color;
  position: relative;
  top: -4px;
}

@media all and (min-width: 768px) {
  .about-us {
    padding: 45px 45px 45px 45px;
  }

  .article {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 45px 0 45px;
    margin-bottom: 60px;
  }

  .article2 {
    flex-direction: row-reverse;
  }

  .personal-photo {
    width: 205px;
    height: 205px;
  }

  .personal {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
  }

  .personal2 {
    align-items: flex-end;
    padding: 0 30px 0 0;
  }

  .name {
    margin: 0px;
  }

  .description {
    text-align: left;
    padding: 0px;
  }

  .description2 {
    text-align: right;
    padding: 0px;
  }

  .social {
    padding: 15px 0 0 0;
  }

  .fab2 {
    text-align: right;
  }
}

@media all and (min-width: 1200px) {
  .article {
    padding: 0 138px 0 138px;
  }

  .personal-photo {
    width: 278px;
    height: 278px;
  }

  .personal {
    padding-left: 45px;
  }

  .personal2 {
    padding: 0 45px 0 0;
  }

  .description {
    width: 439px;
  }
}
