/*Form*/

.container__title {
  color: $dark-color;
  font-family: $font-title;
  font-size: 1.5rem;
  line-height: 2.81rem;
  margin-top: 30px;
  text-align: center;
  text-transform: uppercase;
}

.container__text {
  height: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 15px;
}
.container__text--principal {
  color: $description-text;
  font-family: $font-paragraph;
  font-size: 1rem;
  line-height: 1.5rem;
  text-align: center;
}

.container__text--small {
  color: $description-text;
  font-family: $font-paragraph;
  font-size: 0.75rem;
  line-height: 24px;
  text-align: center;
}

.asterisk {
  color: $light-color;
}

.container__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 43px 15px 0 15px;
}

.container__form--label {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  color: $description-text;
  margin-bottom: 7px;
}

.container__form--input {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  color: $color-small;
  width: 100%;
  height: 45px;
  margin-bottom: 13px;
  padding-left: 15px;
}

.container__form--div1,
.container__form--div2 {
  width: 100%;
}

.container__form--mail {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  color: $description-text;
  width: 100%;
  height: 45px;
  margin-bottom: 13px;
  padding: 15px;
}

.container__form--message {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  color: $color-small;
  width: 100%;
  height: 105px;
  padding: 11px 15px 11px 15px;
  margin-bottom: 30px;
}

.container__form--submit {
  background-color: $dark-color;
  font-family: $font-paragraph;
  color: $background-color;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  height: 45px;
  border-style: none;
  border-radius: 4px;
  margin-bottom: 60px;
}

@media all and (min-width: 768px) {
  .container__text {
    height: 120px;
    margin: 15px 163px 15px 163px;
  }

  .container__form {
    margin: 43px 163px 0 163px;
  }

  .container__form--submit {
    height: 45px;
    border-style: none;
    border-radius: 4px;
    margin-bottom: 60px;
    width: 46%;
    transform: translate(236px, 0); /*Preguntar a Miguel*/
  }
  @media all and (min-width: 1200px) {
    .container__text {
      height: 96px;
      margin: 15px 300px 15px 300px;
    }

    .container__form {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 43px 300px 0 300px;
    }

    .container__form--div1 {
      width: 65.7%;
      margin-right: 44px;
    }

    .container__form--div2 {
      width: 26.9%;
    }

    .container__form--submit {
      height: 45px;
      border-style: none;
      border-radius: 4px;
      margin-bottom: 60px;
      transform: translate(323px, 0); /*Preguntar a Miguel*/
    }
  }
}
