/*footer*/

.footer {
  font-family: $font-paragraph;
  font-size: 0.875rem;
  height: 15.625rem;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20px 60px 45px;
  grid-row-gap: 20px;
  border-top: 1px solid $color-small;
}

.footer-small {
  height: 1.25rem;
  color: $color-small;
  line-height: 1.25rem;
  padding: 0 74px 0 74px;
  grid-row: 1/2;
  text-align: center;
}

.logo-adalab {
  grid-row: 3/4;
  text-align: center;
  margin-top: 10px;
}

.footer-nav {
  grid-row: 2/3;
}
.footer-links {
  height: 3.75rem;
  text-align: center;
}

.link-footer {
  color: $description-text;
  font-family: $font-paragraph;
  line-height: 1.25rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}

.slogan-adalab {
  height: 2.813rem;
}

@media all and (min-width: 768px) {
  .footer {
    height: 10.625rem;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 45px;
    grid-row-gap: 15px;
    grid-template-areas: "copy menu" "logo menu";
  }
  .logo-adalab {
    grid-area: logo;
    text-align: left;
    margin-top: 0px;
    padding-left: 45px;
  }

  .footer-nav {
    grid-area: menu;
    line-height: 1.875rem;
    padding-right: 45px;
  }

  .footer-links {
    text-align: right;
  }
  .footer-small {
    height: 1.25rem;
    color: $color-small;
    padding: 0 0 0 45px;
    grid-area: copy;
    text-align: left;
  }

  @media all and (min-width: 1200px) {
    .footer {
      height: 10.062rem;
    }
    .logo-adalab,
    .footer-small {
      padding-left: 138px;
    }

    .footer-nav {
      padding-right: 138px;
    }
  }
}
