/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
  z-index: 999;
}

.dance {
  background-color: $dark-color;
  color: $background-color;
  font-size: 1rem;
  font-family: $font-title;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100vw;
  opacity: 0.95;
}

.list {
  background: $light-color;
  font-size: 0.9375rem;
  font-family: $font-title;
  color: $background-color;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
}

.link {
  color: $background-color;
  text-decoration: none;
}
