/* fuente Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* fuente OpenSans-semibold */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Rubik:wght@500&display=swap");

/* fuente OpenSans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Rubik:wght@500&display=swap");

/* reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* variables */

:root {
  --dark-green: #099d8d;
  --light-green: #14d9c4;
  --white: white;
  --black: black;
  --grey: #54585a;
  --Rubik: "Rubik";
  --OpenSans: "Open Sans";
}

/* header */

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  width: 100vw;
}

.dance {
  background-color: var(--dark-green);
  color: var(--white);
  font-size: 1rem;
  font-family: var(--Rubik);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100vw;
  opacity: 0.95;
}

.list {
  background: var(--light-green);
  font-size: 0.9375rem;
  font-family: var(--Rubik);
  color: var(--white);
  width: 100vw;
  display: flex;
  justify-content: space-between;
  /*min-width: 320px;*/
  padding: 8px 17px 7px 16px;
  opacity: 0.9;
}

.link {
  color: var(--white);
  text-decoration: none;
}

/* hero */

.section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero {
  width: 100%;
}

.slogan {
  color: var(--black);
  background: var(--white);
  display: inline;
  text-align: center;
  transform: translate(0, -10px);
  font-family: var(--OpenSans);
  font-size: 1.125rem;
}

/* seccion 2 */

.team-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team {
  font-family: var(--Rubik);
  font-size: 24px;
  color: var(--light-green);
  text-align: center;
  margin-top: 30px;
}

.div-team {
  padding: 15px;
}

.description-team {
  font-family: var(--OpenSans);
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  padding: 15px;
}

.square {
  width: 30px;
  height: 30px;
  background-color: var(--white);
  transform: translate(0, 15px) rotate(45deg);
  z-index: 10;
}

.features {
  background-color: rgb(241, 241, 241);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.strength-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.strength {
  font-family: var(--Rubik);
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  color: var(--dark-green);
  padding-top: 30px;
}

.features-text {
  font-family: var(--OpenSans);
  font-size: 16px;
  color: var(--grey);
  text-align: center;
  line-height: 24px;
  padding: 0 15px 35px 15px;
}

.weaknesses-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.weaknesses {
  font-family: var(--Rubik);
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  color: var(--dark-green);
  z-index: 1;
}

/* section3*/

.about-us {
  font-family: var(--Rubik);
  font-size: 24px;
  color: var(--dark-green);
  text-align: center;
  padding: 30px 0 30px 0;
}
.article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px 0 15px;
}

.personal-photo {
  width: 180px;
  height: 180px;
  box-sizing: content-box;
  border: 5px solid rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.personal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-family: var(--OpenSans);
  font-size: 20px;
  color: var(--black);
  margin-top: 15px;
  line-height: 45px;
}

.description {
  font-family: var(--OpenSans);
  font-size: 16px;
  color: var(--grey);
  padding: 0 18px 0 18px;
  text-align: center;
}

.social {
  list-style: none;
  display: flex;
  padding: 15px 0 45px 0;
}

.fab2 {
  box-sizing: content-box;
  padding: 0 7px 0 7px;
  color: var(--dark-green);
  height: 15px;
  width: 15px;
  text-align: center;
}

.point:before {
  content: ".";
  color: var(--dark-green);
  position: relative;
  top: -4px;
}

/*footer*/

.footer {
  font-family: var(--OpenSans);
  font-size: 0.875rem;
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #b8b8b9;
}

.footer-small {
  height: 1.25rem;
  color: #b8b8b9;
  padding: 30px 74px 20px 74px;
}

.icon-adalab {
  order: 1;
}

.slogan-adalab {
  height: 2.813rem;
}

.footer-links {
  height: 3.75rem;
  margin: 20px 103px 30px 103px;
  text-align: center;
}

.link-footer {
  color: #54585a;
  font-family: "Open Sans";
  font-weight: 600;
  text-decoration: none;
}

.slogan-adalab {
  height: 2.813rem;
}

/* Tablet */

@media all and (min-width: 768px) {
  /*header*/

  .header {
    background: #099d8d;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0.95;
    z-index: 1000;
  }

  .dance {
    justify-content: flex-start;
    padding-left: 45px;
  }

  .list {
    background: var(---dark-green);
    display: flex;
    justify-content: space-between;
    margin-right: 45px;
    width: 300px;
  }

  .list-item {
    display: flex;
    flex-direction: row;
  }

  /*hero*/

  .section1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero {
    height: auto;
    overflow: hidden;
    /* position: relative;
    top: -50px; */
  }

  .slogan {
    background: var(--white);
    display: inline;
    text-align: center;
    opacity: 0.8;
    padding: 10px;
    transform: translate(76px, -40px);
    font-family: var(--OpenSans);
    font-size: 1.125rem;
  }

  /* seccion 2 */

  .team {
    color: var(--dark-green);
    margin-top: 45px;
  }

  .div-team {
    padding: 15px 45px 30px 45px;
  }

  .features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .strength-box {
    width: 50vw;
    margin: 0 15px 30px 45px;
  }
  .strength {
    padding-top: 30px;
  }
  .weaknesses-box {
    width: 50vw;
    margin: 0 45px 30px 15px;
  }
  .weaknesses {
    padding-top: 30px;
  }

  .features-text {
    padding: 0;
  }

  .features-text1 {
    padding-top: 15px;
  }

  .features-text2 {
    padding-top: 15px;
  }

  /* seccion 3*/
  .about-us {
    padding: 45px 45px 45px 45px;
  }

  .article {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 45px 0 45px;
    margin-bottom: 60px;
  }

  .article2 {
    flex-direction: row-reverse;
  }

  .personal-photo {
    width: 205px;
    height: 205px;
  }

  .personal {
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 30px;
  }

  .personal2 {
    align-items: flex-end;
    padding: 0 30px 0 0;
  }

  .name {
    margin: 0px;
  }

  .description {
    text-align: left;
    padding: 0px;
  }

  .description2 {
    text-align: right;
    padding: 0px;
  }

  .social {
    padding: 15px 0 0 0;
  }

  .fab2 {
    text-align: right;
  }

  /*footer*/

  .footer {
    height: 10.625rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-elements {
    width: 50%;
  }

  .footer-small {
    padding: 30px 0px 120px 45px;
  }

  .slogan-adalab {
    transform: translate(37px, -70px);
  }

  .footer-links {
    margin: 24px 103px 30px 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .link-footer {
    line-height: 30px;
  }
}

/*Desktop*/

@media all and (min-width: 1200px) {
  /*seccion 2*/

  .div-team {
    padding: 15px 300px 30px 300px;
  }

  .strength-box {
    margin: 0 22.5px 30px 140px;
  }

  .weaknesses-box {
    margin: 0 140px 30px 22.5px;
  }

  /* seccion 3 */

  .article {
    padding: 0 138px 0 138px;
  }

  .personal-photo {
    width: 278px;
    height: 278px;
  }

  .personal {
    padding-left: 45px;
  }

  .personal2 {
    padding: 0 45px 0 0;
  }

  .description {
    width: 439px;
  }

  /*footer*/

  .footer {
    height: 10.06rem;
  }

  .footer-elements {
    width: 50%;
  }

  .footer-small {
    padding: 60px 0px 120px 138px;
  }

  .slogan-adalab {
    transform: translate(130px, -70px);
  }

  .footer-links {
    margin: 24px 138px 30px 103px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .link-footer {
    line-height: 30px;
  }
}
